<div class="grid-container">

  <div id="\0" class="blue 0" (click)="toggleTileSet(0)">*</div>
  <div id="\1" class="yellow 1" (click)="toggleTileSet(1)">*</div>
  <div id="\2" class="red 2" (click)="toggleTileSet(2)">*</div>
  <div id="\3" class="black 3" (click)="toggleTileSet(3)">*</div>
  <div id="\4" class="white 4" (click)="toggleTileSet(4)">*</div>

  <div id="\5" class="blue 5" (click)="toggleTileSet(5)">*</div>
  <div id="\6" class="yellow 6" (click)="toggleTileSet(6)">*</div>
  <div id="\7" class="red 7" (click)="toggleTileSet(7)">*</div>
  <div id="\8" class="black 8" (click)="toggleTileSet(8)">*</div>
  <div id="\9" class="white 9" (click)="toggleTileSet(9)">*</div>

  <div id="\10" class="blue 10" (click)="toggleTileSet(10)">*</div>
  <div id="\11" class="yellow 11" (click)="toggleTileSet(11)">*</div>
  <div id="\12" class="red 12" (click)="toggleTileSet(12)">*</div>
  <div id="\13" class="black 13" (click)="toggleTileSet(13)">*</div>
  <div id="\14" class="white 14" (click)="toggleTileSet(14)">*</div>

  <div id="\15" class="blue 15" (click)="toggleTileSet(15)">*</div>
  <div id="\16" class="yellow 16" (click)="toggleTileSet(16)">*</div>
  <div id="\17" class="red 17" (click)="toggleTileSet(17)">*</div>
  <div id="\18" class="black 18" (click)="toggleTileSet(18)">*</div>
  <div id="\19" class="white 19" (click)="toggleTileSet(19)">*</div>

  <div id="\20" class="blue 20" (click)="toggleTileSet(20)">*</div>
  <div id="\21" class="yellow 21" (click)="toggleTileSet(21)">*</div>
  <div id="\22" class="red 22" (click)="toggleTileSet(22)">*</div>
  <div id="\23" class="black 23" (click)="toggleTileSet(23)">*</div>
  <div id="\24" class="white 24" (click)="toggleTileSet(24)">*</div>

</div>
<h3>Current Tile: {{currentTile}}</h3>
<h3 >Score: {{score}}</h3>
<button (click)="scoreTile()">Score Tile</button>
<button (click)="clearScore()">Clear Score</button>