<div class="grid-container">

  <div class="blue 0">*</div>
  <div class="yellow 1">*</div>
  <div class="red 2">*</div>
  <div class="black 3">*</div>
  <div class="white 4">*</div>

  <div class="blue 5 set">*</div>
  <div class="yellow set 6">*</div>
  <div class="red 7 set">*</div>
  <div class="black 8 set ">*</div>
  <div class="white 9 set">*</div>

  <div class="blue 10">*</div>
  <div class="yellow 11">*</div>
  <div class="red 12">*</div>
  <div class="black 13">*</div>
  <div class="white 14">*</div>

  <div class="blue 15">*</div>
  <div class="yellow 16">*</div>
  <div class="red 17 ">*</div>
  <div class="black 18">*</div>
  <div class="white 19">*</div>

  <div class="blue 20">*</div>
  <div class="yellow 21">*</div>
  <div class="red 22">*</div>
  <div class="black 23">*</div>
  <div class="white 24">*</div>

</div>